<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Select Course</title>
  </head>
  <body>
    <h1>Welcome to Coding Dojo College!!</h1><br>
    <h3>Please add your chosen courses for the upcoming 2017 semester</h3><hr><br>
    <h4>Add A New Course:</h4><br>
    <form class="add" action="/add_course" method="post">
      {% csrf_token%}
      <label for="name">Course Name:</label><input type="text" name="name" ><br>
      <label for="description">Course Description:</label> <textarea name="description" rows="8" cols="40"></textarea><br>
      <input type="submit"  value="Add Course"><br><br>
    </form>

    <h4>Courses:</h4>
    <table style='width: 67%'>
      <thead>
      <tr>
        <th><b>Course Name:</b></th>
        <th><b>Course Description:</b></th>
        <th><b>Date Added:</b></th>
        <th><b>Remove Course:</b></th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
        <tr>
          <td> {{course.name}}</td>
          <td>{{course.description}}</td>
          <td>{{course.created_at}}</td>
          <td><a href="/{{course.id}}/delete">Delete Course</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table><hr>
  </body>
</html>
